/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
	font-family: 'iconfont';
	/* Project id 4344231 */
	src:
		url('https://at.alicdn.com/t/c/font_4344231_wu1cjaoew4e.woff2?t=1722398742577') format('woff2'),
		url('https://at.alicdn.com/t/c/font_4344231_wu1cjaoew4e.woff?t=1722398742577') format('woff'),
		url('https://at.alicdn.com/t/c/font_4344231_wu1cjaoew4e.ttf?t=1722398742577') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zantingbofang:before {
	content: "\e657";
}

.icon-shangyishou_huaban:before {
	content: "\e636";
}

.icon-xiayishou_huaban:before {
	content: "\e637";
}

.icon-kaishibofang:before {
	content: "\e871";
}

.icon-31zhuanfa:before {
	content: "\e600";
}

.icon-caidan:before {
	content: "\e60b";
}

.icon-shezhi:before {
	content: "\e659";
}

.icon-qiehuanyonghu:before {
	content: "\e6ed";
}

.icon-gengduo:before {
	content: "\e780";
}

.icon-wodepinglun:before {
	content: "\e621";
}

.icon-wodeshoucang:before {
	content: "\e69d";
}

.icon-xiugaixinxi:before {
	content: "\e639";
}

.icon-shoudaohuifu:before {
	content: "\e67d";
}

.icon-weibo:before {
	content: "\e73c";
}

.icon-QQ:before {
	content: "\e73e";
}

.icon-weixin:before {
	content: "\e607";
}